@import url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(210, 46%, 95%);
    font-family: "Barlow Semi Condensed", sans-serif;
}

.wrapper {
    margin: 0 auto;
    display: grid;
    width: 90%;
    padding: 3em 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5);
    grid-column-gap: 0px;
    grid-row-gap: 2em;
}

.column {
    border-radius: 10px;
    padding: 20px 24px 40px 24px;
}

.person {
    color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.white {
    color: hsl(0, 0%, 30%);
}

.role {
    opacity: 50%;
}

.person-info {
    margin-right: 14em;
    padding-top: 1.1em;
    width: 100%;
    font-size: 13px;
    line-height: 18px;
}



.person img { 
    transform: scale(60%); 
    margin-left: -0.75em;   
}

.first img {
    border: 3px solid;
    border-radius: 50%;
    border-color:hsl(263, 86%, 65%);
}

.second img {
    border-radius: 50%;
}

.third img {
    border-radius: 50%;
}

.fourth img {
    border: 3px solid;
    border-radius: 50%;
    border-color:hsl(263, 86%, 65%);
}

.fifth img {
    border-radius: 50%;
}

.opinion {
    color: hsl(0, 0%, 100%);
    padding-top: 1em;
    font-size: 20px;
    font-weight: 600;
}

.quote {
    color: hsl(0, 0%, 100%);
    opacity: 50%;
    padding-top: 2em;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}


.grid-column-1 {
    background-color: hsl(263, 55%, 52%);
}

.grid-column-2 {
    background-color: hsl(217, 19%, 35%);
}

.grid-column-3 {
    background-color: hsl(0, 0%, 100%);
}

.grid-column-4 {
    background-color:hsl(219, 29%, 14%);
}

.grid-column-5 {
    background-color: hsl(0, 0%, 100%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
        color: hsl(228, 45%, 44%); 
}